* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
	color:#FFD700;
}

p {
	color:#FFD700;
}

h2{
	color:#FFD700;
}
h3{
	color:#FFD700;
}

h5{
	color:#FFD700;
}

body {
	background-color:#800000;
}